@use '../utils/funciones' as funciones;
@use '../utils/mixins' as mx;
@use '../utils/extends' as ex;

/* Global */
body {    
    min-height: 100vh;
    min-width: funciones.pxTorem(320px); 
    width: 100%;
    font-family: var(--font-text);
    font-size: var(--font-size);
    background-color: var(--color-background-terciary);
    color: var(--color-text);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--color-title);
    @extend %texto;
}
p {
    font-weight: 500;
    @extend %texto;
}
::selection {
    background-color: var(--color-primary);
    color: var(--color-title);
}