@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/extends' as ex;

/* Buttons */
.banner__button {
    margin-block: fn.pxTorem(16px);
    padding: fn.pxTorem(16px) fn.pxTorem(32px);
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.slider-banner__button {
    &--prev {
        grid-area: prev;
    }

    &--next {
        grid-area: next;
    }
}