@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/extends' as ex;

/* Buttons */
.banner__button {
    margin-block: fn.pxTorem(16px);
    padding: fn.pxTorem(16px) fn.pxTorem(32px);
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    background: linear-gradient(to left,var(--color-primary) 50%,transparent 50%) no-repeat right / 200%;
    color: var(--color-light);
    cursor: pointer;
    @include mx.addTransition(background-position);
    @include mx.addBreakpoint('medium') {
        width: 100%;
    }

    &:hover {
        background-position: left;
        color: var(--color-primary);
    }
}

.slider-banner__button {
    &--anterior {
        grid-area: prev;
    }

    &--siguiente {
        grid-area: next;
    }
}

.cards__button {
    padding: fn.pxTorem(8px) fn.pxTorem(16px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background: linear-gradient(to left,var(--color-light) 50%,var(--color-text) 50%) no-repeat right / 200%;
    color: var(--color-text);
    cursor: pointer;
    @include mx.addTransition(background-position);

    &:hover {
        background-position: left;
        color: var(--color-light);
    }
}