@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/extends' as ex;

/* Icons */
.date__icon {
    color: var(--color-primary);
}

.contact__icon {
    color: var(--color-primary);
    
    &--white {
        padding: 0;
        color: var(--color-light);

        &:hover {
            color: rgba(var.getColor('color-light'), 0.8); 
        }
    }
    
    &--light {
        color: rgba(var.getColor('color-light'), 0.8);
    }
}

.main-nav__icon {
    @include mx.addBreakpoint('medium') {
        transform: scale(1.5);
    }

    &--big {
        transform: scale(2);
        position: absolute;
        top: fn.pxTorem(75px); 
        right: fn.pxTorem(100px);
        align-self: flex-end;
        @include mx.addBreakpoint('small') {
            position: relative;
            top: 0; 
            right: 0;
            align-self: center;
        }
    }

    &--open {
        display: block;
    }

    &--close {
        display: none;
    }
}

.slider-banner__icon {
    font-size: var.getTypography('xxl');
    color: rgba(var.getColor('color-light'), 0.8);
    cursor: pointer;   
    @include mx.addBreakpoint('small') {
        font-size: var.getTypography('xl');
    } 

    &:hover {
        color: var(--color-light);
    }
}

.accesos-directos__icon {
    font-size: var.getTypography('xl');
    color: var(--color-primary); 
    margin-top: fn.pxTorem(16px) ; 
    @include mx.addBreakpoint('large') {
        margin: 0;
    }
}

.avisos__icon {
    font-size: var.getTypography('l');
    color: var(--color-title);
    cursor: pointer;
    
    &:hover {
        color: var(--color-primary);
    }
}

.cards__icon {
    grid-area: icono-card;
    font-size: var.getTypography('xl');
}

.menu-lateral__icon {
    align-self: center;
    padding: fn.pxTorem(16px); 

    &--open {
        display: none!important;
    }
}

.menu-lateral__desplegable-icon {
    &:hover {
        color: rgba(var.getColor('color-light'), 0.8);
    }

    &--big {
        font-size: var.getTypography('l');
    }

    &--no-padding {
        padding: 0;
    }

    &--open {
        font-size: var.getTypography('xl');
    }
}