@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/extends' as ex;

/* Icons */
.date__icon {
    color: var(--color-primary);
}
.contact__icon {
    color: var(--color-primary);
    
    &--white {
        padding: 0;
        color: var(--color-light);

        &:hover {
            color: rgba(var.getColor('color-light'), 0.8); 
        }
    }
    
    &--light {
        color: rgba(var.getColor('color-light'), 0.8);
    }
}
.slider-banner__icon {
    font-size: var.getTypography('xxl');
    color: rgba(var.getColor('color-light'), 0.8);
    cursor: pointer;

    &:hover {
        color: var(--color-light);
    }
}
.accesos-directos__icon {
    font-size: var.getTypography('xl');
    color: var(--color-primary); 
    margin-top: fn.pxTorem(16px) ; 
}