@use 'funciones' as fn;
@use 'variables' as var;
$espaciado: var.getTypography('line-height');

%texto {
    letter-spacing: normal;
    line-height: #{$espaciado};
    overflow-wrap: break-word;
}
%boton {
    border-radius: 3px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: var(--tipo-size);
    font-weight: 700;
    padding: (fn.pxTorem(5px) fn.pxTorem(22px));
    position: relative;
    text-align: center;
    text-transform: uppercase;
}