@use 'funciones' as fn;
@use 'sass:map';

//1-VARIABLES
// Colores
$palette: (
    'color-primary': #e8816e,
    'color-secondary': #c95d5d,
    'color-background-primary': #1e2a3b,
    'color-background-secondary': #616373,
    'color-background-terciary': #fff,
    'color-background-cards': #f6f6f6,
    'color-title': #1e2a3b,
    'color-text': #616373,
    'color-border': #e6e6ea,
    'color-icon': #8e91a2,
    'color-light': #fff,
    'color-dark': #202130,
    'color-info': #079be2,
    'color-success': #28825d,
    'color-error': #ca0928
);
// Tipografía
$font-size-default: fn.pxTorem(16px);
$typography: (    
    'font-title': ('Oswald', sans-serif),
    'font-text': ('Roboto', sans-serif),
    'line-height': fn.pxToem(20px),
    'font-size': (
        'xxxl': fn.changeSizeFont($font-size-default, 350, increase),
        'xxl': fn.changeSizeFont($font-size-default, 200, increase),
        'xl': fn.changeSizeFont($font-size-default, 100, increase),
        'l': fn.changeSizeFont($font-size-default, 50, increase),
        'm': fn.changeSizeFont($font-size-default, 10, increase),
        'default': $font-size-default,
        's': fn.changeSizeFont($font-size-default, 20, decrease),
        'xs': fn.changeSizeFont($font-size-default, 50, decrease),
    )    
);
// Media queries
$breakpoints: (
    'xxlarge': 1440px,
    'xlarge': 1200px,
    'large': 1024px,
    'medium': 768px,
    'small': 596px,
    'xsmall': 0
);
// Imágenes
$images: (
    'logo-oager': '../images/logo-oager.webp',
    'logo-30oager': '../images/logo-30oager.webp',
    'header-background': '../images/plaza-salamanca.webp',
    'banner-contact': '../images/banner-contacto.webp',
    'banner-procedure': '../images/banner-tramites.webp',
    'banner-alert': '../images/banner-avisos.webp',
    'banner-mayor': '../images/alcalde-salamanca.webp',
    'footer-image': '../images/fachada-oager.webp',
    'footer-certification9001': '../images/ISO-9001.webp',
    'footer-certification27001': '../images/ISO-27001.webp'
);
//2-MAPEO
@function getColor($color) {   
    @return map.get($palette, $color);
}
@function getTypography($property) {   
    @if($property == 'font-title') or ($property == 'font-text') or ($property == 'line-height'){
        @return map.get($typography, $property);
    } @else{        
        @return map.get(map.get($typography, 'font-size'), $property);
    }
}
@function getImageURL($image) {   
    @return map.get($images, $image);
}
@function getMedia($media) {   
    @return map.get($breakpoints, $media);
}
//3-CUSTOM PROPERTIES
:root {
    // Colores
    --color-primary: #{getColor('color-primary')};
    --color-secondary: #{getColor('color-secondary')};
    --color-background-primary: #{getColor('color-background-primary')};
    --color-background-secondary: #{getColor('color-background-secondary')};
    --color-background-terciary: #{getColor('color-background-terciary')};
    --color-background-cards: #{getColor('color-background-cards')};
    --color-title: #{getColor('color-title')};
    --color-text: #{getColor('color-text')};
    --color-border: #{getColor('color-border')};
    --color-icon: #{getColor('color-icon')};
    --color-light: #{getColor('color-light')};
    --color-dark: #{getColor('color-dark')};
    --color-info: #{getColor('color-info')};
    --color-error: #{getColor('color-error')};
    --color-success: #{getColor('color-success')};
    // Tipografía
    --font-title: #{getTypography('font-title')};
    --font-text: #{getTypography('font-text')};
    --font-size: #{getTypography('default')};
}