@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;

/* Banner */
.banner {    
    position: relative;
    grid-area: content;
    opacity: 1;
    z-index: 0;
    @include mx.addTransition(opacity, .5s);
    @include mx.createGrid(32px, auto, 50% auto) {
        width: 100%;
        place-items: center start;
    };
    @include mx.addBreakpoint('large') {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: fn.pxTorem(16px);
    }
    @include mx.addBreakpoint('medium') {
        text-align: center;
        place-items: center center;        
    }

    h1 {
        font-size: var.getTypography('xl');
        color: var(--color-primary);
    }

    h2 {
        font-size: var.getTypography('xxxl');
        color: var(--color-light);
        line-height: fn.pxToem(16px);
        max-width: fn.pxTorem(600px);
        @include mx.addBreakpoint('small') {
            font-size: clamp(var.getTypography('default'), 10vw, var.getTypography('xxxl'));
        }
    }

    p {
        padding-top: fn.pxTorem(14px);
        font-weight: 300;
        color: rgba(var.getColor('color-light'), 0.8);
    }

    &--hide {
        opacity: 0;
        z-index: -10;
    }

    &__texto {        
        &--reverse {
            order: 1;
        }
    } 
    
    &__picture {
        max-height: fn.pxTorem(600px);
        @include mx.addBreakpointSpecial('medium', 'large') {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            width: 50%;
            opacity: .5;    
        }
        @include mx.addBreakpoint('medium') {
            display: none;
        }
    }
}