@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;

/* Contenido */
.contenido {
    h2 {
        padding-bottom: fn.pxTorem(30px);
        width: 100%;
        text-align: center;
        font-size: var.getTypography('xl');
    }
}