@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;

/* Header */
.header { 
    @include mx.createFlex(column, flex-start, flex-start);

    &__sidebar {      
        padding: 0 fn.pxTorem(100px); 
        background-color: var(--color-background-primary);
        color: rgba(var.getColor('color-light'), 0.8);
        @include mx.createGrid(20px,auto,auto 1fr) {
            width: 100%;
        };
        @include mx.addBreakpoint('large') {
            @include mx.createFlex(column, center, center) {
                padding: 0;
            };
        }
    }

    &__slider {   
        padding: 0 fn.pxTorem(100px);      
        @include mx.createFlex(column, flex-start, flex-start) {
            height: max-content;
        };
        
        @include mx.addBreakpoint('medium') {
            align-items: center;
            padding: 0 fn.pxTorem(50px) fn.pxTorem(100px);
            background-image: linear-gradient(to bottom, rgba(var.getColor('color-background-primary'), 0.7) 0%, rgba(var.getColor('color-background-primary'), 0.7) 100%), url('../images/app-plaza-salamanca.webp');
        }
        @include mx.addBreakpoint('small') {
            align-items: center;
            padding: 0 fn.pxTorem(30px) fn.pxTorem(100px);
        }

        &--index {
            padding-bottom: fn.pxTorem(100px);            
            gap: fn.pxTorem(32px);
            @include mx.addImageGradient(bottom,
                                    rgba(var.getColor('color-background-primary'), 0.7),
                                    rgba(var.getColor('color-background-primary'), 0.7),
                                    var.getImageURL('header-background'),
                                    cover);
        }

        &--generic {
            @include mx.addImageGradient(bottom,
                                    rgba(var.getColor('color-background-primary'), 0.7),
                                    rgba(var.getColor('color-background-primary'), 0.7),
                                    var.getImageURL('header-background-generic'),
                                    cover);
        }
    }
}