@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;

/* Sidebar */
.date {
    font-weight: 300;
    @include mx.createFlex(row, center, center) {
        gap: fn.pxTorem(8px);
    };
    @include mx.addBreakpoint('large') {
        display: none;
    }

    &__container {
        @include mx.createFlex(row, flex-start, center) {
            gap: fn.pxTorem(8px);
        };
    }

    &__hour {
        font-weight: 500;
        color: var(--color-light);
    }
}
.contact {
    position: relative;
    font-weight: 300;
    @include mx.createFlex(row, flex-end, center);
    @include mx.addBreakpoint('large') {
        justify-content: center;
    }

    &__telephone,
    &__schedule {
        @include mx.createFlex(row, center, center, auto) {
            gap: fn.pxTorem(8px);
        };
    }

    &__telephone-link { 
        padding-right: fn.pxTorem(16px); 
        border-right: 1px solid rgba(var.getColor('color-border'), 0.5); 

        &:hover {
            color: var(--color-light);
        }
    }

    &__schedule {
        padding: fn.pxTorem(16px);
        cursor: pointer;

        &:hover > &-text,
        &:hover > .contact__icon--light{
            color: var(--color-light);
        }

        &:hover > .contact__submenu {            
            @include mx.createFlex(column, center, center, auto); 
            @include mx.addTransition(display); 
            @include mx.addBreakpoint('medium') {
                width: 100%;
            }
        }

        &-text {
            @include mx.addBreakpoint('small') {
                display: none;
            }
        }

        &-state {            
            font-size: var.getTypography('s');;
            font-weight: 700;
            
            &--open {
                color: lighten(var.getColor('color-success'), 25%);
            }

            &--close {
                color: lighten(var.getColor('color-error'), 25%);
            }
        }
    }

    &__submenu {     
        display: none; 
        z-index: 10;
        @include mx.addNeo(3px, var(--color-background-primary), 5px);
        @include mx.createSubmenu {
            top: fn.pxTorem(50px);
            right: fn.pxTorem(65px);
        };        
        @include mx.addBreakpoint('large') {
            right: 50%;
            transform: translateX(63%);
        }
        @include mx.addBreakpoint('medium') {
            right: 50%;
            transform: translateX(50%);
        }

        &-item {
            width: 100%;
            padding: fn.pxTorem(16px);
            border-bottom: 1px solid rgba(var.getColor('color-border'), 0.5); 
            text-align: center; 
            cursor: default;

                &:first-child{
                    border-top: 3px solid var(--color-primary); 
                }

            &:last-child {
                border-bottom: 0;
            }

            &--background {
                background-color: rgba(var.getColor('color-light'), 0.2);
            }            
        }

        &-title {
            font-weight: 500;
            color: var(--color-light);
        }

        &-text {
            text-transform: capitalize;
        }
    }

    &__social {
        padding-left: fn.pxTorem(16px);
        border-left: 1px solid rgba(var.getColor('color-border'), 0.5); 

        &-links {
            @include mx.createFlex(row, center, center) {
                gap: fn.pxTorem(16px);
            };            
        }
    }
}
