@use '../utils/funciones' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;

/* Slider */
.slider-menu {     
    padding: fn.pxTorem(16px) 0;
    @include mx.createGrid(20px,auto,auto 1fr) {
        width: 100%;
    };
    @include mx.addBreakpoint('medium') {
        width: max-content;
    }

    &--open {
        padding-top: fn.pxTorem(50px);
        height: 100vh;
        z-index: 20;
        position: fixed;
        top:0;
        right:0;
        overflow-x: hidden;
        background-color: var(--color-background-primary); 
        @include mx.createFlex(column, flex-start, center) {
            gap: fn.pxTorem(50px);
        };
    }

    .logo {
        place-content: start start;

        &__link {
            @include mx.createFlex(row, flex-start, center, auto) {
                gap: fn.pxTorem(16px);
            };
        }

        &__imagen {
            height: fn.pxTorem(80px);
            place-content: center end;
            @include mx.addTransition(height); 
            @include mx.addBreakpoint('large') {
                height: fn.pxTorem(60px);
            }
        }        
    }
    
}

.slider-banner {
    padding-bottom: fn.pxTorem(50px);
    @include mx.createFlex(column, center, center) {
        gap: fn.pxTorem(32px);
    };
    @include mx.addBreakpoint('large') {
        gap: fn.pxTorem(0px);
    }

    &__container {
        @include mx.createGrid(32px,
                                auto,
                                1fr auto,
                                'prev content next') {
            width: 100%;
        };
        @include mx.addBreakpoint('large') {
            gap: fn.pxTorem(50px);
        }
        @include mx.addBreakpoint('small') {
            gap: fn.pxTorem(20px);
        }
    } 
}

.slider-cabecera {
    @include mx.createFlex(column, center, center);

    h1 {
        padding-bottom: fn.pxTorem(16px);
        min-height: fn.pxTorem(130px);        
        text-align: center;
        font-size: var.getTypography('xxl');
        color: var(--color-light);
    }

    &__migas {
        padding: fn.pxTorem(16px) 0;
        color: var(--color-light);
        @include mx.createFlex(row, flex-start, center) {
            gap: fn.pxTorem(8px);
        };

        @include mx.addBreakpoint('medium') {
            justify-content: center;
        }
    }

    &__enlace {
        &:hover {
            color: var(--color-primary);
        }
    }

    &__separador {
        font-size: var.getTypography('s');
    }

    &__pagina-actual {
        font-weight: 300;
    }
}